@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

section#contact {
  background: #14b8a6;
  color: #ffff;
  font-size: 22px;
}

.underline {
  text-decoration: none;
  font-size: 17px;
}

p.project-p {
  font: 500;
  font-size: 18px;
}

button {
  background-color: #24d6cd;
  border-radius: 20px 20px;
}

.p-para {
  font-size: 19px;
  font-weight: 400;
}

.headings {
  font-weight: 700;
}

.flex.flex-wrap.gap-6.justify-center {
  margin: 2rem auto;
}